body {
  margin: 0;

  width: 100%;

  background-color: rgb(250, 250, 250);

  font-family: "peridot-pe-variable",sans-serif;
}

header {
  position: absolute;

  width: 100%;
}

.header-flexbox {
  display: flex;

  flex-direction: column;

  background-color: rgb(250, 250, 250);

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(155, 155, 155);

  height: auto;

  padding: 16px;
}

.logo {
  width: 35%;
  min-width: 350px;
  max-width: 500px;
}

main {
  display: flex;

  flex-direction: column;
  align-items: center;

  text-align: center;

  height: 100dvh;

  background-color: white;
}

main p {
  margin-top: 16px;
}

main div {
  flex: 1;

  height: auto;
}

.content-flexbox {
  display: flex;

  flex-direction: column;

  width: 100%;

  gap: 16px;
}

.return-link-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;

  width: 100%;
}

.return-link {
  font-size: 32px;

  font-variation-settings: 'wght' 650, 'wdth' 100, 'ital' 0;

  background-color: white;
  color: rgb(49, 172, 255);

  border-color: rgb(49, 172, 255);
  border-width: 3px;
  border-style: solid;

  text-decoration: none;

  border-radius: 8px;

  padding: 8px 32px;

  transition: background-color 0.15s, color 0.15s, border-color 0.15s;
}

.return-link:hover {
  background-color: rgb(49, 172, 255);
  color: white;
}

.return-link:active {
  background-color: rgb(90, 189, 255);

  border-color: rgb(90, 189, 255);
}

h1 {
  font-size: 112px;

  font-variation-settings: 'wght' 950, 'wdth' 125, 'ital' 0;

  margin: 0;
}

h2 {
  font-size: 42px;

  font-variation-settings: 'wght' 650, 'wdth' 100, 'ital' 0;

  margin: 0;
}

p {
  font-size: 18px;

  font-variation-settings: 'wght' 400, 'wdth' 100, 'ital' 0;

  margin: 0;
}

.return-flexbox {
  display: flex;
  
  flex-direction: column;

  justify-content: space-between;

  gap: 16px;;
}

.return {
  font-size: 32px;

  font-variation-settings: 'wght' 650, 'wdth' 100, 'ital' 0;

  background-color: white;
  color: rgb(49, 172, 255);

  border-color: rgb(49, 172, 255);
  border-width: 3px;
  border-style: solid;

  text-decoration: none;

  border-radius: 8px;

  padding: 8px 32px;

  transition: background-color 0.15s, color 0.15s, border-color 0.15s;
}

.return:hover {
  background-color: rgb(49, 172, 255);
  color: white;
}

.return:active {
  background-color: rgb(90, 189, 255);

  border-color: rgb(90, 189, 255);
}

footer {
  background-color: rgb(250, 250, 250);

  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(155, 155, 155);

  padding: 30px 75px;
}

.footer-flexbox-horizontal {
  display: flex;
  
  flex-direction: row;

  justify-content: space-between;

  width: 85%;
  max-width: 1000px;
}

.footer-flexbox-vertical {
  display: flex;
  
  flex-direction: column;

  justify-content: space-evenly;
  align-items: start;

  height: 100%;
}

.footer-headings {
  font-size: 34px;

  margin-bottom: 18px;
}

.footer-links {
  color: black;

  font-size: 18px;

  text-decoration: none;

  transition: color 0.15s, text-decoration 0.15s;
}

.footer-links:hover {
  color: rgb(49, 172, 255);

  text-decoration: underline;
}

.footer-links:active {
  color: rgb(90, 189, 255);
}

.line-horizontal {
  border-top-style: solid;
  border-top-color: rgb(155, 155, 155);
  border-top-width: 1px;

  width: 100%;

  margin-top: 32px;
  margin-bottom: 32px;
}

.info-flexbox {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
}

.buttons-flexbox {
  display: flex;

  flex-direction: row-reverse;

  gap: 16px;
}

.phone-link, .email-link, .home-link {
  transition: fill 0.25s, transform 0.25s;
}

.phone-link:hover, .email-link:hover, .home-link:hover {
  fill: rgb(49, 172, 255);

  transform: translateY(-5px);
}

.phone-link:active, .email-link:active, .home-link:active {
  fill: rgb(90, 189, 255);
}

.copyright-info {
  color: rgb(155, 155, 155);

  text-align: center;

  margin: 0;
}

@media (max-width: 950px) {
  main {
    padding-left: 5dvw;
    padding-right: 5dvw;
  }

  .footer-flexbox-horizontal {
    display: flex;
    
    flex-direction: column;

    justify-content: space-between;
  }

  footer {
    padding: 30px 50px;
  }
}

@media (max-width: 675px) {
  .info-flexbox {
    flex-direction: column-reverse;

    align-items: center;

    gap: 24px;
  }

  .buttons-flexbox {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .header-flexbox {
    align-items: center;
  }
}

@media (max-height: 600px) {
  main {
    height: 150dvh;
  }
}